* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.header {
  background-color: #ef1919;
  position: fixed;
  width: 100%;
  padding: 12px 0;
  text-align: center;
  z-index: 1;
}
.header h1 {
  color: white;
  border: solid 6px #fff;
  border-radius: 100px;
  padding: 6px 12px;
  display: inline-block;
  box-sizing: border-box;
  font-size: 20px;
}
.banner {
  position: relative;
}
.banner img {
  width: 100%;
}
.banner .welcome {
  background-color: #f5ba17;
  color: #fff;
  font-size: 2rem;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 10%;
  padding: 30px;
}
.banner h2 {
  font-size: 74px;
}
.banner h2 span {
  font-size: 1.3em;
}
.nav {
  background-color: #f9f9f9;
  padding: 20px;
  display: flex;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
nav li {
  width: 25%;
  font-size: 24px;
  display: inline-block;
}
.main {
  max-width: 100%;
  width: 1200px;
  padding: 0 40px;
  margin: 80px auto;
  box-sizing: border-box;
}
article h2 {
  color: #f63233;
  font-size: 38px;
  margin-bottom: 20px;
}
article p {
  line-height: 2em;
}
.images {
  text-align: center;
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
}
.images li {
  display: inline-block;
  height: auto;
  width: 100%;
}
.images li img {
  width: 100%;
}
.join {
  max-width: 100%;
  width: 1200px;
  padding: 0 40px;
  margin: 80px auto;
  box-sizing: border-box;
}
.join form {
}
.footer {
  width: 100%;
  background-color: #4e4e4e;
  padding: 40px 0;
}
.footer .copyright {
  max-width: 1200px;
  color: #b6b6b6;
  text-align: center;
}

@media screen and (max-width: 930px) {
  .banner h2 {
    font-size: 48px;
  }
}
